# Load and pre-process our training dataset

In [89]:
import pandas as pd
from sklearn import preprocessing

# Load from s3 instead?
df = pd.read_csv('./Data/xMonths_SimulatedStaff.csv')
#../

In [90]:
date_time = pd.to_datetime(df['Timestamp']).dt

In [91]:
df["time_idx"] = df.index

In [92]:
# Adding some random constant key group
df["constant_group"] = "group_1"

#Change column value to all be floats
df['transaction_count'] = df['transaction_count'].astype(float)

In [93]:
# Add year, month, day, and hour columns
df["year"] = date_time.year
df["month"] = date_time.month
df["day"] = date_time.day
df["hour"] = date_time.hour

#df.head(10)

In [94]:
# convert column workforce_type_1 to float
df['workforce_type_1'] = df['workforce_type_1'].astype(float)
df['workforce_type_2'] = df['workforce_type_2'].astype(float)
df['workforce_type_3'] = df['workforce_type_3'].astype(float)
df['workforce_type_4'] = df['workforce_type_4'].astype(float)

In [95]:
df = df.drop(['Timestamp'], axis=1)

In [96]:
# convert constant_group to numerical value, not used by tft only by custom models
#le = preprocessing.LabelEncoder()
#df['constant_group'] = le.fit_transform(df['constant_group']) #Uncomment for other models!
#df['holiday'] = le.fit_transform(df['holiday'])

In [97]:
df

,subtotal,transaction_count,rain,temperature,holiday,oil_price,workforce_type_1,workforce_type_2,workforce_type_3,workforce_type_4,time_idx,constant_group,year,month,day,hour
0,428.03,11.0,0.0,12.7,0,69.62,1.0,2.0,3.0,0.0,0,0,2021,5,17,10
1,324.78,15.0,0.0,13.4,0,69.62,1.0,2.0,3.0,1.0,1,0,2021,5,17,11
2,279.75,12.0,0.0,13.6,0,69.62,1.0,2.0,3.0,1.0,2,0,2021,5,17,12
3,1630.59,29.0,0.0,14.1,0,69.62,1.0,2.0,3.0,1.0,3,0,2021,5,17,13
4,1166.10,18.0,0.0,15.9,0,69.62,1.0,2.0,3.0,1.0,4,0,2021,5,17,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5062,4779.11,82.0,0.0,0.0,0,83.45,1.0,4.0,5.0,0.0,5062,0,2022,11,30,14
5063,2460.84,54.0,0.0,0.0,0,83.45,1.0,4.0,5.0,0.0,5063,0,2022,11,30,15
5064,2026.30,43.0,0.0,0.0,0,83.45,1.0,4.0,5.0,0.0,5064,0,2022,11,30,16
5065,2346.13,44.0,0.0,0.0,0,83.45,1.0,4.0,5.0,0.0,5065,0,2022,11,30,17
5066,401.19,6.0,0.0,0.0,0,83.45,1.0,4.0,5.0,0.0,5066,0,2022,11,30,18

In [98]:
def get_dataset():
    return df